<h1>Sample Page</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta diam
  justo, eu pharetra purus vehicula vel. Duis tempor in mauris vestibulum
  facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
  per inceptos himenaeos. Praesent vitae mattis neque, ut dignissim arcu. Fusce
  a venenatis ligula. Sed imperdiet tellus at lacus volutpat auctor. Nam vitae
  aliquam odio. Donec auctor sed nisl quis consequat. Proin eget sem lorem.
  Mauris tempor posuere lectus.
</p>

<p>
  Vestibulum nec mi tellus. Quisque eu nibh nec urna blandit hendrerit pretium
  quis sem. Nunc consectetur pharetra tempor. Duis efficitur, nisi non lacinia
  tempus, dolor elit congue ligula, non tincidunt diam lorem in urna. Nunc
  ullamcorper purus malesuada gravida gravida. Vestibulum tempor neque a sem
  porttitor pulvinar. Vivamus rhoncus sapien vitae lacus egestas consectetur. Ut
  viverra urna id quam tincidunt, et dapibus elit aliquet. Sed egestas mauris at
  blandit rutrum. Duis non feugiat mauris. Mauris tincidunt pharetra tristique.
  Sed at commodo eros. Nulla id sapien quis sem auctor tristique ac a lorem.
  Suspendisse vitae facilisis ipsum, vel lacinia augue. Proin egestas, tellus a
  congue dictum, risus ex accumsan ligula, ut sagittis risus elit nec odio.
  Integer pretium enim in nulla laoreet porttitor.
</p>

<button (click)="toHome()" class="p-4 pt-8">Home</button>
