// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "@angular/material" as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat.core;

// @include mat.strong-focus-indicators((
//   border-style: none,
//   border-width: 4px,
//   border-radius: 2px,
// ));

$dark-primary-text: rgb(0 0 0 / 87%);
$dark-secondary-text: rgb(0 0 0 / 54%);
$dark-disabled-text: rgb(0 0 0 / 38%);
$dark-dividers: rgb(0 0 0 / 12%);
$dark-focused: rgb(0 0 0 / 12%);
$light-primary-text: white;
$light-secondary-text: rgb(255 255 255 / 70%);
$light-disabled-text: rgb(255 255 255 / 50%);
$light-dividers: rgb(255 255 255 / 12%);
$light-focused: rgb(255 255 255 / 12%);
$dark-primary-text: #212529;
$light-primary-text: #ffffff;
$my-palate: (
  50: #58b9ff,
  100: #49aaff,
  200: #3a9bff,
  300: #2b8cff,
  400: #1c7dff,
  500: #0d6efd,
  600: #005fee,
  700: #0050df,
  800: #0041d0,
  900: #0032c1,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$starter-primary: mat.define-palette($my-palate);
$starter-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

@debug $starter-accent;

// The warn palette is optional (defaults to red).
$starter-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$starter-theme: mat.define-light-theme(
  (
    color: (
      primary: $starter-primary,
      accent: $starter-accent,
      warn: $starter-warn,
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.all-component-themes($starter-theme);

// @include mat.strong-focus-indicators-theme($starter-theme);

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
