<h1>Gerimedica</h1>

<p [style.maxWidth]="'450px'">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed ultricies nisl, nec eleifend est. Morbi leo dolor,
  convallis sed ex eget, sagittis pellentesque nulla. Curabitur vel nibh vitae dui blandit porta vel nec sem. Mauris
  feugiat, augue sit amet volutpat viverra, odio ligula hendrerit est, a euismod tellus tellus cursus leo. Curabitur id
  urna aliquam, commodo augue id, tristique est. Sed porta magna non accumsan blandit. Donec auctor ultrices placerat.
</p>

<form class="example-form" [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate [style.marginTop]="'64px'">
  <h2>Registration Form</h2>
  <ng-container *ngFor="let item of items">
    <section [style]="item.hidden === 'false' ? 'visibility: visible; height: auto' : 'visibility: hidden; height: 0'">
      <mat-form-field
        class="form-field"
        appearance="outline"
        *ngIf="item.type === 'text'"
        [ngClass]="{ invisible: item.hidden === 'true' }"
        [hideRequiredMarker]="item.mandatory === false"
      >
        <mat-label>{{ item.label }}</mat-label>
        <input
          type="{{ item.type }}"
          placeholder="Please enter your {{ item.field }}"
          aria-label="Number"
          matInput
          formControlName="{{ item.field }}"
          name="{{ item.field }}"
          id="input-{{ item.field }}"
          [style.width]="'364px'"
        />
        <mat-error *ngIf="errorHandling(item.field, 'required')">
          {{ item.label }} is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-checkbox *ngIf="item.type === 'check'" formControlName="{{ item.field }}">
        {{ item.label }}
      </mat-checkbox>
    </section>
  </ng-container>
  <button mat-raised-button color="primary" class="form-submit" [disabled]="!myForm.valid">Submit</button>
</form>

<p [style.marginTop]="'32px'">
  <code>{{ myForm.value | json }}</code>
</p>
